html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font: -apple-system-font;
  font-size: 15px;
  line-height: 21px;
}

h1 {
  padding: 5px 0;
  margin: 0 0 10px 0;
  font-size: 20px;
  line-height: 23px;
  word-wrap: break-word;
}

tr {
  vertical-align: 0;
}

td {
  font-family: monospace;
}


th {
  text-align: right;
}
